In [2]:
import mysql.connector
import pandas as pd

In [2]:
# atlanta 
# Time is represented sometimes in this way: 5/15/2020 - 5/17/2020 8:00 PM

# gametime
# No description is scraped.

# losangeles
# Only 10 events are scrapped. Seems only 1 page is scraped. What is the case?

# visitphilly
# Scrapped only 22 events. Also, most of them don't have start time.
# Has much more events even in this link 'https://www.visitphilly.com/events'

# sandiego

In [ ]:
connection = mysql.connector.connect(
                                    host="3.15.229.129",
                                    user="root",
                                    passwd="RrL76~y&w)~K7/@X",
                                    database="mpdscraping",
                                    connect_timeout=10000
                                    )

# source_names = ['atlanta', 'gametime', 'losangeles', 'sandiego', 'visitphilly']
# placeholder = '%s' 
# placeholders = ', '.join(placeholder for _ in source_names)
# query_to_filter = 'select * from raw_event where source in (%s)' % placeholders
# event = pd.read_sql_query(query_to_filter, connection, params=source_names)

source_names = ['atlanta', 'gametime', 'losangeles', 'sandiego', 'visitphilly']
source_name = source_names[3]
print('Source:', source_name)

# events = []
# n = 0
# for event in pd.read_sql_query(f'select * from raw_event where source = "{source_name}"', connection, chunksize=5000):
#     if n % 100 == 0:
#         print(f'Event {n} chunks processed')
#     n += 1
#     events.append(event)

# connection.close()
# event = pd.concat(events)
# print('Original event shape:', event.shape)

# get time data
connection = mysql.connector.connect(
                                    host="3.15.229.129",
                                    user="root",
                                    passwd="RrL76~y&w)~K7/@X",
                                    database="mpdscraping",
                                    connect_timeout=10000
                                    )


query_to_filter = f'SELECT * FROM raw_time WHERE raw_event_id in (select id from raw_event where source = "{source_name}");'

times = []
n = 0

for time in pd.read_sql_query(query_to_filter, connection, chunksize=5000):
    if n % 100 == 0:
        print(f'Time {n} chunks processed')
    n += 1
    times.append(time)
    
connection.close()
print('Original time shape:', time.shape)

print('Event count na:')
print(event.isna().mean() * 100)
print('-' * 50)
print('Time count na:')
print(time.isna().mean() * 100)

event = event.drop_duplicates(subset=[col for col in event.columns if col not in ['id', 'url']])
print('Dropped duplicates event shape:', event.shape)

time = time.drop_duplicates(subset=[col for col in time.columns if col not in ['id', 'url']])
print('Dropped duplicates time shape:', time.shape)

event = event.dropna(subset=['title', 'url'])
print('Good event shape:', event.shape)

time = time.dropna(subset=['start_time'])
print('Good time shape:', time.shape)

Source: sandiego
Time 0 chunks processed
Time 100 chunks processed
Time 200 chunks processed
Time 300 chunks processed
Time 400 chunks processed
Original time shape: (2442, 9)
Event count na:
id               0.000000
url              0.000000
title            0.002527
image_url        0.002098
description     25.339661
source           0.000000
tags             0.000000
is_affiliate     0.000000
dtype: float64
--------------------------------------------------
Time count na:

In [32]:
event

,id,url,title,image_url,description,source,tags,is_affiliate
0,28284,https://gametime.co/concert/cnco-tickets/06-12...,CNCO,https://maps.gametime.co/v2/the_forum/music/mu...,None,gametime,music,0
1,28285,https://gametime.co/concert/chicago-tickets/06...,Chicago (Band) with Rick Springfield,https://maps.gametime.co/v2/the_forum/music/mu...,None,gametime,music,0
2,28292,https://gametime.co/concert/ozzy-osbourne-tick...,Ozzy Osbourne,https://maps.gametime.co/v2/philips_arena/nba_...,None,gametime,music,0
3,28294,https://gametime.co/concert/janet-jackson-tick...,Janet Jackson,https://maps.gametime.co/v2/philips_arena/nba_...,None,gametime,music,0
4,28314,https://gametime.co/concert/maroon-5-tickets/0...,Maroon 5 with Meghan Trainor,https://maps.gametime.co/v2/austin360_amphithe...,None,gametime,music,0
...,...,...,...,...,...,...,...,...
97,29325,https://gametime.co/concert/tool-tickets/05-31...,Tool,https://maps.gametime.co/v2/rogers_arena/nhl_v...,None,gametime,music,0
98,29342,https://gametime.co/sport/arizona-football-tic...,Hawaii Rainbow Warriors at Arizona Wildcats Fo...,https://maps.gametime.co/v2/arizona_stadium/cf...,None,gametime,cfb,0
99,29345,https://gametime.co/sport/arizona-football-tic...,Portland State Vikings at Arizona Wildcats Foo...,https://maps.gametime.co/v2/arizona_stadium/cf...,None,gametime,cfb,0
100,29366,https://gametime.co/concert/tool-tickets/06-04...,Tool,https://maps.gametime.co/v2/mts_centre/nhl_win...,None,gametime,music,0
101,29368,https://gametime.co/concert/the-weeknd-tickets...,The Weeknd with Sabrina Claudio,https://maps.gametime.co/v2/mts_centre/nhl_win...,None,gametime,music,0

In [36]:
time

,id,raw_event_id,start_time,end_time,location,postal_code,longitude,latitude,state
0,7,6,2020-10-24T20:00:00,2020-10-24T20:00:00,3939 South Figueroa Street Los Angeles Califor...,90037,-118.298662,33.786594,US-CA
1,11,10,2020-08-16T19:00:00,2020-08-16T19:00:00,3790 Wilshire Boulevard Los Angeles California...,90010,-118.298662,33.786594,US-CA
2,16,15,2020-09-18T19:00:00,2020-09-18T19:00:00,3900 West Manchester Boulevard Inglewood Calif...,90305,-118.298662,33.786594,US-CA
3,21,20,2020-09-05T16:30:00,2020-09-05T16:30:00,1050 S. Prairie Ave Inglewood California 90305,90305,-118.298662,33.786594,US-CA
4,27,26,2020-10-09T21:00:00,2020-10-09T21:00:00,"24201 Valencia Boulevard , ##1351 Santa Clarit...",None,NaN,NaN,US-CA
...,...,...,...,...,...,...,...,...,...
1907,19145,15453,2020-10-09T21:00:00,2020-10-09T21:00:00,"24201 Valencia Boulevard , ##1351 Santa Clarit...",None,NaN,NaN,US-CA
1908,19200,15457,2020-08-21T19:00:00,2020-08-21T19:00:00,3939 South Figueroa Street Los Angeles Califor...,90037,-118.298662,33.786594,US-CA
1909,19225,15461,2020-05-10T19:00:00,2020-05-10T19:00:00,1018 Hermosa Avenue Hermosa Beach California 9...,90254,-118.298662,33.786594,US-CA
1910,19259,15465,2020-05-22T18:30:00,2020-05-22T18:30:00,3790 Wilshire Boulevard Los Angeles California...,90010,-118.298662,33.786594,US-CA
1911,19290,15468,2020-05-22T21:00:00,2020-05-22T21:00:00,245 East Green Street Pasadena California 91101,91101,-118.298662,33.786594,US-CA